<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Porche</title>
     {% load static %}
    
</head>
<body>
<h1>THE PORCHE911</h1>
<h3>The Mechanism</h3>
<p>The six-cylinder boxer engine in the 911 Turbo, with its increased output of 580 PS and displacement of 3,745 cm3, now features symmetrical turbochargers with variable turbine geometry and electrically controlled bypass valves.</p>
<h3>The History of 911</h3>
<p>When the dust sheet was pulled back on a brand-new Porsche model at the 1963 Frankfurt International Motor Show, few could have predicted the huge impact it would have on motoring in the decades to come. Its name was the 901. Today it's better known as the legendary 911, its name having been changed before it went on sale. Over the 60 years between 1963 and 2023, over 1.2m 911 sportscars have been made. Each one is evidence of the endless pursuit of innovation by Porsche, particularly when it comes to delivering memorable drive after memorable drive for all who experience it. From its early days to most recognisable models and standout moments, this is a celebration of a true automotive phenomenon.</p>
<img src="{% static 'assets/911.jpeg' %}" alt="">
<img src="{% static 'assets/porche.jpeg' %}" alt="">
<img src="{% static 'assets/back.jpeg' %}" alt="">
</body>
</html>